.loaded{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loaded-img{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.loaded-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
